@model IEnumerable<Final.Models.Test>
@{
    ViewBag.Title = "Index";
}

<h2>Hello</h2>
<h4>tests to solve</h4>
@foreach (var test in Model)
{
    <p>@test.name     @Html.ActionLink("Start!", "TakeTest", new { id = test.test_id})</p>
}